{% extends 'chewata_event/base.html' %}
{% load static %}

{% block schedule %}

<div class="timeline_sec">
    <div class="timeline">
        <img src="{% static 'chewata_event/timeline.png' %}" alt="">
    </div>

    <div class="timeline_txt">
        <h3>Information Session</h3>
        <P>"In a nutshell: This month-long festival will be about celebrating playfulness, our game culture and promote the Ethiopian gaming ecosystem in order to establish a stronger, synergized gaming scene."</P>


        <h3>Openning Night</h3>
        <P>"In a nutshell: This month-long festival will be about celebrating playfulness, our game culture and promote the Ethiopian gaming ecosystem in order to establish a stronger, synergized gaming scene."</P>


        <h3>Creative Session</h3>
        <P>"In a nutshell: This month-long festival will be about celebrating playfulness, our game culture and promote the Ethiopian gaming ecosystem in order to establish a stronger, synergized gaming scene."</P>


        <h3>Buisness Talks/Panel</h3>
        <P>"In a nutshell: This month-long festival will be about celebrating playfulness, our game culture and promote the Ethiopian gaming ecosystem in order to establish a stronger, synergized gaming scene."</P>


        <h3>Gamenight 1</h3>
        <P>"In a nutshell: This month-long festival will be about celebrating playfulness, our game culture and promote the Ethiopian gaming ecosystem in order to establish a stronger, synergized gaming scene."</P>


        <h3>Gamenight 2</h3>
        <P>"In a nutshell: This month-long festival will be about celebrating playfulness, our game culture and promote the Ethiopian gaming ecosystem in order to establish a stronger, synergized gaming scene."</P>


        <h3>Closing Night</h3>
        <P>"In a nutshell: This month-long festival will be about celebrating playfulness, our game culture and promote the Ethiopian gaming ecosystem in order to establish a stronger, synergized gaming scene."</P>

    </div>
</div>

{% endblock schedule %}
